* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
}

.header {
position: fixed;
padding: 10px;
background-color: #FFFFFF;
top: 0;
width: 100%;
color: #4a4a4a;
display: flex;
flex-direction:column;
z-index: 1;


}

.logo1 {
    display: flex;
    justify-content: center;
  
}

.logo {
    width: 155px;
}

.navigation {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    font-family: 'Rubik', sans-serif
}
.list-header {
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: #4a4a4a;
    list-style: none;
    padding: 0, 15px;

}

.blog {
    text-size-adjust: 106px;
    color: #4a4a4a;

}

.main {
background-color: #3CDBC0;
text-size-adjust: 30px;
color: #FFFFFF ;
display: flex;
height: 100vh;
justify-content:center ;
align-items: center;
font-family: 'Rubik', sans-serif;

}

.title {
    text-align: center;

}

.title-item {
    display: block;

}




@media all and(min-width:768px) {
.list-header {
flex-direction: row-reverse;
justify-content: center;
}

.logo1 {
justify-content: left;

}
