* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
}

.header {
position: fixed;
background-color: chocolate;
top: 0;
width: 100%;
color: #4a4a4a;

}





.main {
background-color: #3CDBC0;
text-size-adjust: 30px;
color: #FFFFFF ;
display: flex;
height: 100vh;
justify-content:center ;
align-items: center;
font-family: 'Rubik', sans-serif;

}

.title {
    text-align: center;

}

.title-item {
    display: block;

}




